@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
:after,
:before {
  border: 0 solid #e5e7eb;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(18, 18, 18);
  color: rgba(255, 255, 255, 0.87);
  font-size: 1rem;
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.5rem;
  font-weight: 400;
  text-rendering: optimizelegibility;
  overflow: auto;
}
div {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  height: 40px;
}

input,
textarea {
  background: #121212c5;
  border-radius: 0.3rem;
  border: 1px solid transparent;
}

*:focus:not(.focus-visible) {
  outline: none;
}
h1 {
  display: block;
  font-size: 2.5em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
/* @media only screen and (max-width: 1920px) {     */

#main {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(36, 34, 34);
}

.flex-container {
  display: flex;
  height: 100%;
}

.flex-item {
  width: 50%;
}
.flex-item-left {
  position: fixed;
  height: 100%;
  width: 50%;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  perspective: 38rem;
  z-index: 2;
}
.bg-container {
  position: relative;
  width: 26vw;
  height: 32vw;
  opacity: 1;
}
.box {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  overflow: hidden;
  top: 0;
}
.bg {
  background-image: url(./asserts/bg-effects.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.my-16 {
  position: absolute;
  height: 10px;
  width: 600px;
  z-index: 1;
}

.flex-item-right {
  inset: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
}
.flex-item-right .inner-right-item {
  position: relative;
  width: 50%;
  left: 50%;
}
.inner-right-item {
  overflow: auto;
  transform: translate(0px, 0px);
}

.content-container {
  position: relative;
  max-width: 50rem;
}
.content-container .first-section {
  display: flex;
  align-items: center;
  margin-top: 300px;
  margin-bottom: 100px;
}
.content-container .section {
  position: relative;
  width: 100%;
  margin-bottom: 300px;
}
.content-container .section .container {
  display: block;
  width: 100%;
}

.resume {
  border-left: 0.1rem solid rgba(255, 255, 255, 0.2);
}
.resume .resume-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 5rem;
  position: relative;
  padding: 8rem 5rem;
  background: #181818;
  margin-bottom: 6rem;
  border-radius: 10px;
}
.resume .resume-item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 20%;
  z-index: 11;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 2rem;
  height: 2rem;
  background: inherit;
}
.resume .resume-item:after {
  content: "";
  position: absolute;
  left: -5rem;
  top: 20%;
  z-index: 11;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  width: 1px;
  height: 40px;
  background: #fff;
}

div {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  height: 40px;
}

input,
textarea {
  background: #121212c5;
  border-radius: 0.3rem;
  border: 1px solid transparent;
}

*:focus:not(.focus-visible) {
  outline: none;
}
h1 {
  display: block;
  font-size: 2.5em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.gradient:focus {
  border: 1px solid transparent;
  background-image: linear-gradient(#141414, #141414),
    linear-gradient(43deg, #a162e8 0%, #f7ce68 46%, #85ffbd 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.content-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.items-center {
  width: 20%;
  text-align: center;
  margin: 10px 0px;
  align-items: center;
  /* display: flex; */
}

.p-2 {
  padding: 0.5rem;
}
.mb-2 {
  margin: 0.5rem;
  /* margin-top: .5rem; */
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.items-end {
  align-items: flex-end;
}
.flex-row {
  flex-direction: row;
}
.flex {
  display: flex;
}
.border {
  border-width: 1px;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.border-gray-500 {
  --tw-border-opacity: 1;
  border-color: rgba(107, 114, 128, var(--tw-border-opacity));
}
.mt-3 {
  margin-top: 0.75rem;
}

.inline-block {
  display: inline-block;
}
.border-b-2 {
  border-bottom-width: 2px;
}
.border-gray-500 {
  --tw-border-opacity: 1;
  border-color: rgba(107, 114, 128, var(--tw-border-opacity));
}

shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.shadow-lg,
.shadow-md {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.justify-between {
  justify-content: space-between;
  border-radius: 10px;
}
.bg-gray,
.focus\:bg-gray:focus,
.hover\:bg-gray:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(28, 28, 28, var(--tw-bg-opacity));
}
.w-full {
  width: 100%;
}
.m-auto {
  margin: auto;
}
.flex-col {
  flex-direction: column;
}

.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * (1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.w-auto {
  width: auto;
}
.shadow-lg,
.shadow-md {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.p-2 {
  padding: 0.5rem;
}
.mr-1 {
  margin-right: 5px;
}
.mr-auto {
  margin-right: auto;
}
.border {
  border-width: 1px;
}
.rounded-lg {
  border-radius: 0.5rem;
}

[type="button"],
[type="submit"],
button {
  -webkit-appearance: button;
}
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}
[role="button"],
button {
  cursor: pointer;
}
button {
  background-color: transparent;
  background-image: none;
}
button,
select {
  text-transform: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.flex-contact {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.flex-contact-item {
  width: 50%;
}
.rocket {
  width: 100%;
  height: 100%;
}

ul li {
  margin-left: 50px;
}
