@media (max-width: 800px) {
  html {
    font-size: 8px;
  }
  a p {
    font-size: 2rem;
    margin-bottom: 0rem;
    color: white;
  }
  .items-center p.small {
    font-size: 2.2rem;
  }
  .my-16 {
    position: absolute;
    width: 30rem;
  }
  .section-container .section {
    padding-bottom: 7rem;
  }
  .resume .resume-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 5rem;
    position: relative;
    padding: 4rem 4rem;
    background: #181818;
    border-radius: 10px;
  }
  h1 {
    font-size:4rem;
  }
  .flex-contact {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
  }
  
  .flex-contact-item {
    width: 100%;
  }
  .mt-7 {
    flex-wrap: wrap;
    margin-top: 2rem;
  
  }
  .mr-4 {
    width: 50%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 7px;
  }
  a p {
    font-size: 3rem;
    margin-bottom: 0rem;
    color: white;
  }
  .items-center p.small {
    font-size: 2.8rem;
  }
  #main {
    position: absolute;
  }
  .my-16 {
    position: absolute;
    width: 60rem;
    justify-content:center;
    /* margin-left: 25rem; */
  }
  .left-content {
    width: 100%;
    height: 70rem;
    position: absolute;
    justify-content: start;

  }
  .left-content .inner-content {
    position: relative;
    width: 100%;
    height: 70rem;

  }
  .left-content .inner-content .picture-box {
    position: absolute;
    height: 70rem;
    width: 100%;
    left: 0;
    overflow: hidden;
    top: 0;
    right: 0;
  }
  .left-content .inner-content .picture {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    height: 70rem;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }
  .right-content {
    inset: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
  }
  .right-content .inner-content {
    padding-top: 20vh;
    position: relative;
    width: 80%;
    left: 10%;
  }
  .section-container {
    position: relative;
    max-width: 90rem;
  }
  .section-container .section.height-100 {
    min-height: 90vh;
    
}
.resume .resume-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 5rem;
  position: relative;
  padding: 3.5rem 3rem;
  background: #181818;
  border-radius: 10px;
}
.section-container .section {
  padding-bottom: 7rem;
}
ul li {
  margin-left: 2.5rem;
}

}

@media (max-width: 500px) {
  html {
    font-size: 6px;
  }
  .items-center p.small {
    font-size: 2.5rem;
  }
 
  .my-16 {
    position: absolute;
    width: 60rem;
    /* margin-left:12rem; */
  }
  #main {
    position: absolute;
  }
  .left-content {
    width: 100%;
    height: 70rem;
    position: absolute;
  }
  .left-content .inner-content {
    position: absolute;
    width: 100%;
    height: 70rem;

  }
  .left-content .inner-content .picture-box {
    position: absolute;
    height: 70rem;
    width: 100%;
    left: 0;
    /* overflow: hidden; */
    top: 0;
  }
  .left-content .inner-content .picture {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    height: 70rem;
    width: 100%;
    left: 0;
    top: 0;
  }
  .right-content {
    inset: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
  }
  .right-content .inner-content {
    padding-top: 20vh;
    position: relative;
    width: 80%;
    left: 10%;
  }
  .section-container {
    position: relative;
    max-width: 70rem;
  }
  .section-container .section.height-100 {
    min-height: 80vh;
    
}
.section-container .section {
  padding-bottom: 5rem;
}
.resume .resume-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 5rem;
  position: relative;
  padding: 2.5rem 2.5rem;
  background: #181818;
  border-radius: 10px;
}
ul li {
  margin-left: 2.5rem;
}

}


@media (max-width: 375px) {
  html {
    font-size: 5px;
  }
  .items-center p.small {
    font-size: 2.5rem;
  }
  .my-16 {
    position: absolute;
    width: 50rem;
    margin-top: 8rem;
  }
  .left-content {
    width: 100%;
    height: 70rem;
  }
  .left-content .inner-content {
    position: absolute;
    width: 100%;
    height: 70rem;

  }
  .left-content .inner-content .picture-box {
    position: absolute;
    height: 70rem;
    width: 100%;
    left: 0;
    overflow: hidden;
    top: 0;
  }
  .left-content .inner-content .picture {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    height: 70rem;
    width: 100%;
    left: 0;
    top: 0;
  }
  .right-content {
    inset: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
  }
  .right-content .inner-content {
    padding-top: 20vh;
    position: relative;
    width: 80%;
    left: 10%;
  }
  .section-container {
    position: relative;
    max-width: 60rem;
  }
  .section-container .section.height-100 {
    min-height: 80vh;
    
}

.resume .resume-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 5rem;
  position: relative;
  padding: 2rem 2rem;
  background: #181818;
  border-radius: 10px;
}
.resume-item .small {
  font-size: 2.7rem;
}
ul li {
  margin-left: 3rem;
}
.flex-contact {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.flex-contact-item {
  width: 100%;
}
.mt-7 {
  flex-wrap: wrap;
  margin-top: 2rem;

}
.mr-4 {
  width: 50%;
}
/* .social {
  margin-top: 0rem;
  font-size: 2rem;
  
} */
h1 {
  font-size:5.5rem;
}
.section-container .section {
  padding-bottom: 3rem;
}
}